
block head
  title Copertina
block content

  div.body-page


    div.body-page-bg

      div.header-container

        div.header-container-text

          div.header-text

            h1.titolo Notturni 

            h2.Da Chopin a Freud   
            
            div.header-bottone

              a(href='/tesina.html' type='button') Inizia	