nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand Notturni
    div
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='#sezione1') Chopin
          li
            a(href='#sezione2') Leopardi
          li
            a(href='#sezione3') Van Gogh
          li
            a(href='#sezione4') Magritte
          li
            a(href='#sezione5') Freud
